<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <script th:src="@{/js/hiding.js}"></script>
    <link rel="stylesheet" th:href="@{/css/renderjson.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" th:replace="html/menu::menu-table"></div>
<div class="curl" th:replace="html/menu::curls"></div>

<h3 class="to_hide" align="center" th:text="${error_message}"></h3>

<div style="width: 250px; margin: auto;">
    <div style="float: left; width: 120px">
        <button onclick="do_hide()" style="width: 100px; margin: 10px;">Hide result</button>
    </div>
    <div style="float: right; width: 120px">
        <button onclick="clear_all()" style="width: 100px; margin: 10px;">Clear inputs</button>
    </div>
</div>

<script th:src = "@{/js/uri.js}"></script>

</body>
</html>