<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Account</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<form th:action="@{/accounts/updated}" method="get" id="update_form">
    <div class="container">
        <div class="row">
            <table class="table table-responsive table-bordered table-striped">
                <thead>
                <tr>
                    <th colspan="3" style="text-align:center; vertical-align:middle"><h2>Change Account</h2></th>
                </tr>
                </thead>
                <tbody>
                <tr hidden>
                    <td><label for="code">Code</label></td>
                    <td><input type="text" name="code" id="code" style="width: 250px" th:value="${code}"><br></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>Address:</label><br></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="country">Country</label></td>
                    <td><select name="country" id="country">
                        <option th:label="${country}" th:value="${country}" selected hidden></option>
                        <option value="FR">FR</option>
                        <option value="GB">GB</option>
                        <option value="JP">JP</option>
                        <option value="US">US</option>
                    </select><br></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="city">City</label></td>
                    <td><input type="text" name="city" id="city" th:value="${city}"><br></td>
                </tr>
                <tr>
                    <td><label>Bank Account ID:</label><br></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="value">Value</label></td>
                    <td><input type="text" name="value" id="value" th:value="${value}"><br></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="ban_structure">Ban Structure</label></td>
                    <td><select name="ban_structure" id="ban_structure">
                        <option th:label="${ban_structure}" th:value="${ban_structure}" selected hidden></option>
                        <option value="BBAN_STRUCTURE">BBAN_STRUCTURE</option>
                        <option value="IBAN_STRUCTURE">IBAN_STRUCTURE</option>
                        <option value="LBAN_0_STRUCTURE">LBAN_0_STRUCTURE</option>
                        <option value="LBAN_1_STRUCTURE">LBAN_1_STRUCTURE</option>
                        <option value="LBAN_2_STRUCTURE">LBAN_2_STRUCTURE</option>
                        <option value="LBAN_3_STRUCTURE">LBAN_3_STRUCTURE</option>
                        <option value="LBAN_4_STRUCTURE">LBAN_4_STRUCTURE</option>
                        <option value="LBAN_5_STRUCTURE">LBAN_5_STRUCTURE</option>
                        <option value="LBAN_6_STRUCTURE">LBAN_6_STRUCTURE</option>
                        <option value="LBAN_7_STRUCTURE">LBAN_7_STRUCTURE</option>
                        <option value="LBAN_8_STRUCTURE">LBAN_8_STRUCTURE</option>
                        <option value="LBAN_9_STRUCTURE">LBAN_9_STRUCTURE</option>
                    </select><br></td>
                </tr>
                <tr>
                    <td><label>Branch:</label><br></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="branch_code">Code</label></td>
                    <td><select name="branch_code" id="branch_code">
                        <option th:label="${branch_code}" th:value="${branch_code}" selected hidden></option>
                        <option value="BRANCHDEMO">BRANCHDEMO</option>
                        <option value="HSBC01">HSBC01</option>
                        <option value="MUFJ01">MUFJ01</option>
                        <option value="SG01">SG01</option>
                        <option value="USBANK01">USBANK01</option>
                    </select><br></td>
                </tr>
                <tr>
                    <td><label>Calendar:</label><br></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="calendar_code">Code</label></td>
                    <td><select name="calendar_code" id="calendar_code">
                        <option th:label="${calendar_code}" th:value="${calendar_code}" selected hidden></option>
                        <option value="FR">FR</option>
                        <option value="GB">GB</option>
                        <option value="JP">JP</option>
                        <option value="US">US</option>
                    </select><br></td>
                </tr>
                <tr>
                    <td><label>Company:</label><br></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="company_code">Code</label></td>
                    <td><select name="company_code" id="company_code">
                        <option th:label="${company_code}" th:value="${company_code}" selected hidden></option>
                        <option value="COMPANY01">COMPANY01</option>
                        <option value="COMPANY02">COMPANY02</option>
                        <option value="COMPANY03">COMPANY03</option>
                        <option value="COMPANY04">COMPANY04</option>
                        <option value="COMPANY-DEMO">COMPANY-DEMO</option>
                    </select><br></td>
                </tr>
                <tr>
                    <td><label>Currency:</label><br></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="currency_code">Code</label></td>
                    <td><select name="currency_code" id="currency_code">
                        <option th:label="${currency_code}" th:value="${currency_code}" selected hidden></option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="JPY">JPY</option>
                        <option value="USD">USD</option>
                    </select><br></td>
                </tr>
                <tr>
                    <td><label for="time_zone">Time Zone</label></td>
                    <td><input type="text" name="time_zone" id="time_zone" th:value="${time_zone}"><br></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center; vertical-align:middle">
                        <button type="submit" style="background-color: #1e90ff; width: 150px"><b>UPDATE</b></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

<form th:action="@{/accounts}" method="get" id="get_form">
    <div class="container">
        <div class="row">
            <table class="table table-responsive table-bordered table-striped">
                <tbody>
                <td colspan="3" style="text-align:center; vertical-align:middle">
                    <button type="submit" style="width: 150px"><b>Back to menu</b></button>
                </td>
                </tbody>
            </table>
        </div>
    </div>
</form>

</body>
</html>