<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
    <script th:src="@{/js/renderjson.js}"></script>
    <script th:src="@{/js/hiding.js}"></script>
    <link rel="stylesheet" th:href="@{/css/renderjson.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" th:replace="html/menu::menu-table"></div>

<button class="to_hide" onclick="do_hide()" style="width: 200px; margin: 10px; margin-left: 43%;">Hide all except the
    menu
</button>

<h2 class="to_hide" align="center">List of accounts</h2>
<div class="to_hide" id="data"></div>
<script type="text/javascript" src="renderjson.js"></script>
<script th:inline="javascript">
    renderjson.set_show_to_level("all");
    var begin_url = 'http://localhost:';
    var end_url = '/accounts/getAll';
/*<![CDATA[*/
    var port = /*[[${port}]]*/;
/*]]>*/
    var url = begin_url + port + end_url;
    fetch(url)
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            document.getElementById("data").appendChild(renderjson(data));
        })
        .catch(function (err) {
            console.log(err);
        });

</script>

<script th:src="@{/js/uri.js}"></script>

</body>
</html>