<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo.png}"/>
    <script th:src="@{/js/renderjson.js}"></script>
    <script th:src="@{/js/hiding.js}"></script>
    <link rel="stylesheet" th:href="@{/css/renderjson.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" th:replace="html/menu::menu-table"></div>

<div style="width: 250px; margin: auto;">
    <div style="float: left; width: 120px">
        <button onclick="do_hide()" style="width: 100px; margin: 10px;">Hide result</button>
    </div>
    <div style="float: right; width: 120px">
        <button onclick="clear_all()" style="width: 100px; margin: 10px;">Clear inputs</button>
    </div>
</div>

<h2 class="to_hide" align="center">Account was successfully deleted</h2>
<div class="to_hide" id="data"></div>

<script type="text/javascript" src="renderjson.js"></script>
<script th:inline="javascript">
    renderjson.set_show_to_level("all");

/*<![CDATA[*/
    var account = /*[[${account}]]*/;
/*]]>*/

    var refer = (function render() {
        document.getElementById("data").appendChild(renderjson(account));
        return render;
    }());

</script>

</body>
</html>