<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" th:fragment="menu-table">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <div class="row">
        <table class="table table-responsive table-bordered table-striped">
            <thead>
            <tr>
                <th colspan="3" style="text-align:center; vertical-align:middle"><h2>Operations</h2></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Get all accounts</td>
                <td></td>
                <td align="center">
                    <form th:action="@{/accounts/getAllAccounts}" method="get">
                        <button type="submit" style="background-color: #1e90ff;" class="button">GET</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Get account by UUID</td>
                <td><label for="get_uuid"></label>
                    <input type="text" name="get_uuid" id="get_uuid" form="form1"
                           placeholder="UUID of account you want to get" size="28"></td>
                <td align="center">
                    <form th:action="@{/accounts/getByUuid}" method="get" id="form1">
                        <button type="submit" style="background-color: #1e90ff;" class="button">GET</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Get account by Code</td>
                <td><label for="get_code"></label>
                    <input type="text" list="get_codes" name="get_code" id="get_code" form="form2"
                           placeholder="Code of account you want to get" size="28" autocomplete="off"/>
                    <datalist id="get_codes">
                        <option th:each="code_list: ${codes_list}" th:value="${code_list}">
                    </datalist>
                </td>
                <td align="center">
                    <form th:action="@{/accounts/getByCode}" method="get" id="form2">
                        <button type="submit" style="background-color: #1e90ff;" class="button">GET</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Create account</td>
                <td></td>
                <td align="center">
                    <form th:action="@{/accounts/create}" method="get">
                        <button type="submit" style="background-color: #49cc90;" class="button">POST</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Update account</td>
                <td><label for="update_code"></label>
                    <input type="text" list="update_codes" name="update_code" id="update_code" form="form3"
                           placeholder="Code of account you want to change" size="28" autocomplete="off"/>
                    <datalist id="update_codes">
                        <option th:each="account: ${created_accounts}" th:value="${account.code}">
                    </datalist>
                </td>
                <td align="center">
                    <form th:action="@{/accounts/update}" method="get" id="form3">
                        <button type="submit" style="background-color: #fca130;" class="button">PUT</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Delete account</td>
                <td><label for="delete_code"></label>
                    <input type="text" list="delete_codes" name="delete_code" id="delete_code" form="form4"
                           placeholder="Code of account you want to delete" size="28" autocomplete="off"/>
                    <datalist id="delete_codes">
                        <option th:each="account: ${created_accounts}" th:value="${account.code}">
                    </datalist>
                </td>
                <td align="center">
                    <form th:action="@{/accounts/delete}" method="get" id="form4">
                        <button type="submit" style="background-color: #f93e3e;" class="button">DELETE</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">cURL (Get all accounts)</span>
        <input type="text" class="form-control" id="basic-url1" aria-describedby="basic-addon1"
               th:value="${base_url + '/v1/accounts'}">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">cURL (Get account by UUID)</span>
        <input type="text" class="form-control" id="basic-url2" aria-describedby="basic-addon2"
               th:value="${base_url + '/v1/accounts/'}">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">cURL (Get account by Code)</span>
        <input type="text" class="form-control" id="basic-url3" aria-describedby="basic-addon3"
               th:value="${base_url + '/v1/accounts/code='}">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon4">cURL (Create account)</span>
        <input type="text" class="form-control" id="basic-url4" aria-describedby="basic-addon4"
               th:value="${base_url + '/v1/accounts'}">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon5">cURL (Update account)</span>
        <input type="text" class="form-control" id="basic-url5" aria-describedby="basic-addon5"
               th:value="${base_url + '/v1/accounts/code='}">
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon6">cURL (Delete account)</span>
        <input type="text" class="form-control" id="basic-url6" aria-describedby="basic-addon6"
               th:value="${base_url + '/v1/accounts/code='}">
    </div>
    <script th:src = "@{/js/uri.js}"></script>
</div>

</body>
</html>