<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo.png}"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" th:fragment="menu-table">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script>
    var baseUrl = "[[${base_url}]]";
    var apiUrl = "[[${api_url}]]";
    </script>
    <script th:src="@{/js/copy_curl.js}"></script>
    <div class="row">
        <table class="table table-responsive table-bordered table-striped">
            <thead>
            <th colspan="3" style="text-align:center; vertical-align:middle"><h2>Operations</h2></th>
            <th style="text-align:center; vertical-align:middle">
                <h4>cURL</h4>
            </th>
            </thead>
            <tbody>
            <tr id="GET_ALL" hidden>
                <td>Get all items</td>
                <td></td>
                <td align="center">
                    <form th:action="@{/CRUD/getAll}" method="get">
                        <button type="submit" style="background-color: #1e90ff;" class="button">GET</button>
                    </form>
                </td>
                <td>
                    <img th:src="@{/img/copy_image.png}" class="copy" width="20" height="20"
                         onclick="copy_curl('', '')">
                </td>
            </tr>
            <tr id="GET_BY_UUID" hidden>
                <td>Get item by UUID</td>
                <td><label for="get_uuid"></label>
                    <input type="text" name="get_uuid" id="get_uuid" form="form1"
                           placeholder="UUID of item you want to get" size="28"></td>
                <td align="center">
                    <form th:action="@{/CRUD/getByUuid}" method="post" id="form1">
                        <button type="submit" style="background-color: #1e90ff;" class="button">GET</button>
                    </form>
                </td>
                <td>
                    <img th:src="@{/img/copy_image.png}" class="copy" width="20" height="20"
                         onclick="copy_curl('/', 'get_uuid')">
                </td>
            </tr>
            <tr id="GET_BY_CODE" hidden>
                <td>Get item by Code</td>
                <td><label for="get_code"></label>
                    <input type="text" list="get_codes" name="get_code" id="get_code" form="form2"
                           placeholder="Code of item you want to get" size="28" autocomplete="off"/>
                    <datalist id="get_codes">
                        <option th:each="code_list: ${codes_list}" th:value="${code_list}">
                    </datalist>
                </td>
                <td align="center">
                    <form th:action="@{/CRUD/getByCode}" method="post" id="form2">
                        <button type="submit" style="background-color: #1e90ff;" class="button">GET</button>
                    </form>
                </td>
                <td>
                    <img th:src="@{/img/copy_image.png}" class="copy" width="20" height="20"
                         onclick="copy_curl('/code=', 'get_code')">
                </td>
            </tr>
            <tr id="GET_BY_REF" hidden>
                <td>Get item by reference</td>
                <td><label for="get_ref"></label>
                    <input type="text" name="get_ref" id="get_ref" form="form3"
                           placeholder="Code or UUID of item you want to get" size="28"></td>
                <td align="center">
                    <form th:action="@{/CRUD/getByRef}" method="post" id="form3">
                        <button type="submit" style="background-color: #1e90ff;" class="button">GET</button>
                    </form>
                </td>
                <td>
                    <img th:src="@{/img/copy_image.png}" class="copy" width="20" height="20"
                         onclick="copy_curl('/', 'get_ref')">
                </td>
            </tr>
            <tr id="POST" hidden>
                <td>Create item</td>
                <td></td>
                <td align="center">
                    <form th:action="@{/CRUD/create}" method="post">
                        <button type="submit" style="background-color: #49cc90;" class="button">POST</button>
                    </form>
                </td>
                <td>
                    <img th:src="@{/img/copy_image.png}" class="copy" width="20" height="20"
                         onclick="copy_curl('', '')">
                </td>
            </tr>
            <tr id="PUT_BY_UUID" hidden>
                <td>Update item by UUID</td>
                <td><label for="update_uuid"></label>
                    <input type="text" name="update_uuid" id="update_uuid" form="form4"
                           placeholder="UUID of item you want to change" size="28"></td>
                <td align="center">
                    <form th:action="@{/CRUD/updateByUuid}" method="post" id="form4">
                        <button type="submit" style="background-color: #fca130;" class="button">PUT</button>
                    </form>
                </td>
                <td>
                    <img th:src="@{/img/copy_image.png}" class="copy" width="20" height="20"
                         onclick="copy_curl('/', 'update_uuid')">
                </td>
            </tr>
            <tr id="PUT_BY_CODE" hidden>
                <td>Update item by Code</td>
                <td><label for="update_code"></label>
                    <input type="text" list="update_codes" name="update_code" id="update_code" form="form5"
                           placeholder="Code of item you want to change" size="28" autocomplete="off"/>
                    <datalist id="update_codes">
                        <option th:each="created_code: ${created_codes}" th:value="${created_code}">
                    </datalist>
                </td>
                <td align="center">
                    <form th:action="@{/CRUD/updateByCode}" method="post" id="form5">
                        <button type="submit" style="background-color: #fca130;" class="button">PUT</button>
                    </form>
                </td>
                <td>
                    <img th:src="@{/img/copy_image.png}" class="copy" width="20" height="20"
                         onclick="copy_curl('/code=', 'update_code')">
                </td>
            </tr>
            <tr id="DELETE_BY_UUID" hidden>
                <td>Delete item by UUID</td>
                <td><label for="delete_uuid"></label>
                    <input type="text" name="delete_uuid" id="delete_uuid" form="form6"
                           placeholder="UUID of item you want to delete" size="28"></td>
                <td align="center">
                    <form th:action="@{/CRUD/deleteByUuid}" method="post" id="form6">
                        <button type="submit" style="background-color: #f93e3e;" class="button">DELETE</button>
                    </form>
                </td>
                <td>
                    <img th:src="@{/img/copy_image.png}" class="copy" width="20" height="20"
                         onclick="copy_curl('/', 'delete_uuid')">
                </td>
            </tr>
            <tr id="DELETE_BY_CODE" hidden>
                <td>Delete item by Code</td>
                <td><label for="delete_code"></label>
                    <input type="text" list="delete_codes" name="delete_code" id="delete_code" form="form7"
                           placeholder="Code of item you want to delete" size="28" autocomplete="off"/>
                    <datalist id="delete_codes">
                        <option th:each="created_code: ${created_codes}" th:value="${created_code}">
                    </datalist>
                </td>
                <td align="center">
                    <form th:action="@{/CRUD/deleteByCode}" method="post" id="form7">
                        <button type="submit" style="background-color: #f93e3e;" class="button">DELETE</button>
                    </form>
                </td>
                <td>
                    <img th:src="@{/img/copy_image.png}" class="copy" width="20" height="20"
                         onclick="copy_curl('/code=', 'delete_code')">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var api_methods = /*[[${api_methods}]]*/;
    /*]]>*/

        for (let i = 0; i < api_methods.length; i++) {
            document.getElementById(api_methods[i]).style.display = 'table-row';
        }
    </script>
</div>

<button onclick="clear_all()" style="width: 100px; margin: 10px; margin-left: 48%;">Clear inputs</button>

</body>
</html>