<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo.png}"/>
    <script th:src="@{/js/renderjson.js}"></script>
    <script th:src="@{/js/hiding.js}"></script>
    <link rel="stylesheet" th:href="@{/css/renderjson.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" th:replace="html/menu::menu-table"></div>

<div style="width: 250px; margin: auto;">
    <div style="float: left; width: 120px">
        <button onclick="do_hide()" style="width: 100px; margin: 10px;">Hide result</button>
    </div>
    <div style="float: right; width: 120px">
        <button onclick="clear_all()" style="width: 100px; margin: 10px;">Clear inputs</button>
    </div>
</div>

<h2 class="to_hide" align="center">Account was successfully created</h2>
<div class="to_hide" id="data"></div>
<h3 class="to_hide" align="center">Request Body</h3>
<div class="to_hide" id="request_data"></div>

<script type="text/javascript" src="renderjson.js"></script>
<script th:inline="javascript">
    var codeCopy = null;
    var uuidCopy = null;
    renderjson.set_show_to_level("all");

/*<![CDATA[*/
    var account = /*[[${account}]]*/;
/*]]>*/

    var refer = (function render() {
        codeCopy = account.code;
        uuidCopy = account.uuid;
        document.getElementById("data").appendChild(renderjson(account));
        return render;
    }());

    function copyCode() {
        var elem = document.createElement("textarea");
        elem.value = codeCopy;
        document.body.appendChild(elem);
        elem.select();
        document.execCommand("copy");
        document.body.removeChild(elem);
        alert("Copied the text: " + codeCopy);
    }

    function copyUuid() {
        var elem = document.createElement("textarea");
        elem.value = uuidCopy;
        document.body.appendChild(elem);
        elem.select();
        document.execCommand("copy");
        document.body.removeChild(elem);
        alert("Copied the text: " + uuidCopy);
    }

</script>

<script th:inline="javascript">
    renderjson.set_show_to_level("all");

/*<![CDATA[*/
    var request_body = /*[[${request_body}]]*/;
/*]]>*/

    var refer = (function render() {
        document.getElementById("request_data").appendChild(renderjson(request_body));
        return render;
    }());

</script>

<button class="to_hide" onclick="copyCode()" style="width: 130px; margin: 10px;">Copy Code</button>
<button class="to_hide" onclick="copyUuid()" style="width: 130px;">Copy UUID</button>

<script th:src = "@{/js/uri.js}"></script>

</body>
</html>